{{ define "main" }}

  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
            <h1>Vous vous êtes perdu!</h1>
        </div>
      </div>
    </div>
  </div>

{{ end }}