{{ define "main" }}

<div class="row equal-col">
  {{ partial "aside.html" . }}

  <article class="col m9 s12">
    <h1 class="header center green-text text-darken-3">Bonjour et bienvenue</h1>
    {{ .Content }}

    <div class="card">
      <div class="card-content">
        <img
          src="images/on-a-plate_1.webp"
          alt="On a plate 01"
          class="z-depth-3"
        >
        <img
          src="images/on-a-plate_2.webp"
          alt="On a plate 02"
          class="z-depth-3"
        >
        <img
          src="images/on-a-plate_3.webp"
          alt="On a plate 03"
          class="z-depth-3"
        >
        <img
          src="images/on-a-plate_4.webp"
          alt="On a plate 04"
          class="z-depth-3"
        >
      </div>
      <div class="card-action">
        <a
          href="http://www.demotivateur.fr/article-buzz/cette-petite-bande-dessinee-va-changer-a-jamais-la-facon-dont-vous-percevez-les-privileges-sociaux--3126"
          >Source</a
        >
      </div><!--/card-content-->
    </div><!--/card-->
  </article>
</div>
<!--/row-->

{{ end }}
