{{ define "main" }}

<div class="row equal-col">
  {{ partial "aside.html" . }}

  <article class="col m9 s12">
    <h1 class="header center green-text text-darken-3">{{ .Title }}</h1>
    {{ .Content }}

    <div class="row">
      {{ range .Paginator.Pages }}

      <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ .LinkTitle }}</span>
            {{ .Description }}
          </div>
          <div class="card-action">
            {{ if .Date }} Date: {{ .Date.Format "02/01/2006" }} | {{ end }}
            Par: {{ .Site.Params.author | default "Anonymous" }} |
            <a href="{{ .RelPermalink }}">En savoir plus!</a>
          </div>
        </div>
      </div>

      {{ end }} {{ template "_internal/pagination.html" . }}
    </div>
  </article>
  
</div>
<!--/row-->

{{ end }}