{{ define "main" }}

<div class="row equal-col">
  {{ partial "aside.html" . }}

  <article class="col m9 s12">
    <h1 class="header center green-text text-darken-3">{{ .Title }}</h1>
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ if .Date }} Date: {{ .Date.Format "02/01/2006" }} | {{ end }} Par:
          {{ .Site.Params.author | default "Anonymous" }}
        </span>
        {{ .Content }}
      </div>
      <div class="card-action">
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </div>
    </div>
  </article>

</div>
<!--/row-->

{{ end }}