body {
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
    /*margin: 1rem;*/
    /*max-width: 768px;*/
    font-size: 1.2em;
    height: 100%;
  }
  
  p {
    padding: 0.9em 0;
  }
  
  header {
    /*border-bottom: 1px solid #222;*/
    /*margin-bottom: 1rem;*/
  }
  
  footer {
    /*border-top: 1px solid #222;*/
    margin-top: 1rem;
  }
  
  a {
    /*color: #00e;*/
    /*text-decoration: none;*/
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  #logo-container {
    text-decoration: none;
  }
  
  /* https://github.com/jenil/chota/blob/main/dist/chota.css */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin: 0.35em 0 0.7em;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.75em;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  h4 {
    font-size: 1.25em;
  }
  
  h5 {
    font-size: 1em;
  }
  
  h6 {
    font-size: 0.85em;
  }
  
  /* Personnal Stylesheet */
  
  html {
    scroll-behavior: smooth;
    height: 100%;
  }
  
  .major {
    min-height: 60vh;
  }

  article {
    margin-top: 3rem;
  }
  
  .active,
  .ancestor {
    background-color: #3d5afe;
  }
  
  /* Elevator */
  #button-top {
    position: fixed;
    bottom: 60px;
    right: 12px;
    z-index: 99;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  #button-top:hover {
    transition-duration: 0.7s;
    opacity: 0.3;
  }
  
  .card .card-action a {
    font-weight: 600;
    color: #0277bd !important;
    text-decoration: underline;
  }
  
  .card .card-action a:hover {
    font-weight: 600;
    color: #81d4fa !important;
    text-decoration: none;
  }
  
  img {
    margin: 1rem auto;
    width: 100%;
    box-shadow: 3px 3px 6px 0px #666;
  }
  
  .pagination li.active {
    background-color: #4e342e;
  }
  
  pre {
    text-wrap: wrap;
  }
  
  .highlight {
    max-width: 100%;
  }
  
  .equal-col {
    display: flex;
    flex-wrap: wrap;
  }
  
  .lateral {
    margin-bottom: -20px !important;
  }