<!DOCTYPE html>
<html
  lang="{{ or site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="green accent-1" id="page-top">
    <header>{{ partial "header.html" . }}</header>
    <main class="major">{{ block "main" . }}{{ end }}</main>
    <footer>{{ partial "footer.html" . }}</footer>
    <a
      href="#page-top"
      class="btn green darken-3"
      id="button-top"
      title="Click to go back to the top of this damn page!"
      ><b>Back to Top</b></a
    >
  </body>
</html>
