<aside class="col m3 s12 brown lateral">
  <!-- Brown navigation panel -->

  <h2 class="center green-text text-accent-1">Dernier(s) article(s)</h2>
  <div class="collection">
    {{ range first 6 site.RegularPages.ByDate.Reverse }}
    <a href="{{ .RelPermalink }}" class="collection-item">{{ .LinkTitle }}</a>
    {{ end }}
  </div>
  <!--/collection-->

  <h2 class="center green-text text-accent-1">Catégorie(s)</h2>
  <div class="collection">
    {{ range $taxonomy := .Site.Taxonomies.categories }} {{ $count := len
    $taxonomy.Pages }} {{ if gt $count 0 }}
    <a href="{{ .Page.Permalink }}" class="collection-item"
      >{{ .Page.Title }} | {{ $count }}</a
    >
    {{ end }} {{ end }}
  </div>
  <!--/collection-->

  <h2 class="center green-text text-accent-1">Tag(s)</h2>
  <div class="collection">
    {{ range $taxonomy := .Site.Taxonomies.tags }} {{ $count := len
    $taxonomy.Pages }} {{ if gt $count 0 }}
    <a href="{{ .Page.Permalink }}" class="collection-item"
      >{{ .Page.Title }} | {{ $count }}</a
    >
    {{ end }} {{ end }}
  </div>
  <!--/collection-->
  
</aside>
